# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/
private_keys/
*.ipa
*.dSYM.zip
*.xcarchive

# Local secrets
.env
.env.*

# macOS
.DS_Store
